@page
@model Foodie.Pages.Recipes.GetAllRecipesModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Introduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].ImageData)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Recipe)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Introduction)
                </td>
                <td>
                    <img src="data:image/jpg;base64,@item.ImageData" width="150px" height="100px"></img>
                </td>
                <td>
                    <a asp-page="./RecipeDetails" asp-route-id="@item.Id">Details</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
