@page 
@using Foodie.Models;
@using Foodie.Services.Interfaces;
@model Foodie.Pages.Recipes.RecipeDetailsModel
@inject IRecipeService RecipeService;
@inject IRecipeItemService RecipeItemService;

@{
    ViewData["Title"] = "Details";
}

<h1>Recipe Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeItem.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecipeItem.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeItem.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecipeItem.Amount)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.CookingSteps)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.CookingSteps)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Introduction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Introduction)
        </dd>
        <td>
            <img src="data:image/jpg;base64,@Model.Recipe.ImageData" width="150px" height="100px"></img>
        </td>
    </dl>
</div>
<div>
    <a asp-page="/Recipes/GetAllRecipes">Back to List</a>
</div>
